@import url(fonts/foundation-icons/foundation-icons.css);
@font-face {
  font-family: 'Poppins-Regular';
  src: url("fonts/poppins/Poppins-Regular.ttf") format("TrueType"); }

@font-face {
  font-family: 'Playfair-Regular';
  src: url("fonts/playfair/PlayfairDisplay-Regular.ttf") format("TrueType"); }
