<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Snip!</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

    <script src="{{ url_for('static', filename='dist/index.bundle.js') }}"></script>
</head>

<body>


    <form method="post" action="{{ url_for('index') }}">
        <div class="snip-grid">
            <div class="snip-head">
                <h1>snip!</h1>
            </div>
            <div class="snip-input">
                {{ form.csrf_token }}
                <div class="input-group">
                    {{ form.url(class_="input-group-field") }}
                    <div class="input-group-button"><input type="submit" class="button" value="Go"></div>
                </div>
            </div>
            {% if not form.url.errors %}
            <div class="snip-grid-item">
                <h2><small>Long link begone 🪄</small></h2>
            </div>
            {% else %}
            {% for error in form.url.errors %}
            <div class="snip-grid-item">
            <div class="callout alert" data-closable>
                <button type="button" class="close-button" data-close>&times;</button>
                <p>Oh no!</p>
                <p>{{ error }}</p>
            </div>
            </div>
            <div class="snip-grid-item hide">
                <h2><small>With Vigour. Begone! 🪄</small></h2>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </form>

</body>

</html>
