@import 'fonts';
@import 'settings';
@import 'foundation';
@import 'fonts';

@include foundation-everything;

.snip-grid {
    @include xy-grid-container;
    @include xy-grid('vertical');
    @include xy-grid-layout(3, 'snip-grid-item', $vertical: true)
    @include flex-align($y: middle)
    @include margin($top: 4)

    @include breakpoint(small) {width: (11 / 12 * 100%)}
    @include breakpoint(medium) {width: (7 / 12 * 100%)}
    @include breakpoint(large) {width: (4 / 12 * 100%)}

    .snip-head {
        @include xy-cell(auto);
        text-align: center;

        h1 {
            font-family: 'Poppins-Regular', $header-font-family;
            line-height: 2;
            font-size: 4rem;
            font-style: oblique;

            color: $primary-color;
            text-shadow: 0 0 5px #A5F1FF, 0 0 10px #AD5291,
                         0 0 20px #A5F1FF, 0 0 30px #AD5291,
                         0 0 40px #A5F1FF;
        }
    }

    .snip-input {
        @include xy-cell;

        input[type="text"], input[type="submit"] {
            font-size: 1.2em;
        }
    }

    .snip-url {
        @include xy-cell;
        font-size: 4rem;
        text-align: center;
    }
}
